.content-collection
  display flex
  align-items flex-start
  justify-content space-around
  flex-wrap wrap
  center-block()

  &-item
    background $lightShadowColor
    color $defaultTextColor
    cursor pointer
    max-width 363px
    flex-basis 100%
    margin-top remify(40)

    & > a
      color inherit

    &__title
      font-size remify(19)
      padding 0.5em 0.4em
      font-weight $medium
      min-height 4em
      text-align center

      &-span
        width 90%

    &__thumbnail
      height remify(266)
      width 100%

@media screen and (min-width: $bigScreenAt)
  .content-collection-item
    max-width 30vw