@import 'fonts'
/*  Not importing vars and mixins since
    gridsome.config.js already does that for us */

*
  box-sizing border-box

html
  color $defaultTextColor
  font-weight $medium
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  color inherit
  font-family inherit
  font-weight inherit
  font-size inherit

input, button, textarea
  font-family inherit

a
  &, &:focus, &:hover, &:active
    text-decoration none

h1, h2, h3, h4
  margin 0

p
  margin-top 0

.page-title
  color $primaryThemeColor
  font-weight $heavy
  font-size remify(36)
  margin 0

// TODO: Handle labels properly
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  display block
  margin-top 1em

  &--error
    color $errorColor

  &--success
    color $successColor

.form-item
  display block
  text-align center
  width 100%

  &__input
    line-height 1
    width 100%

    ../--error &
      border-color $errorColor !important
    
    ../--success &
      border-color $successColor !important
  
  &__message
    text-align left
    margin-top 0.25em

    ../--error &
      color $errorColor

.form-submit
  &__message
    text-align center

    &--error
      color $errorColor
    &--success
      color $successColor

.site-button
  cursor pointer
  border-radius 5px
  display inline-block
  font-weight $heavy
  line-height 1
  outline none
  padding 1.2em 2.8em
  transition background-color 0.2s, border-color 0.2s, color 0.2s
  simple-border('all', 2px, transparent)

  &--default
    background-color $primaryThemeColor
    border-color $primaryThemeColor
    color $inverseTextColor

    &:hover, &:active
      background-color darken($primaryThemeColor, 20%)
      border-color darken($primaryThemeColor, 20%)

  &--transparent
    background-color transparent
    border-color $primaryThemeColor
    color $primaryThemeColor

    &:hover, &:active
      background-color $primaryThemeColor
      color $inverseTextColor

  &--transparent-inverse
    background-color transparent
    color $inverseTextColor
    border-color $inverseTextColor

    &:hover, &:active
      background-color $inverseTextColor
      color $primaryThemeColor

textarea
  resize none

@media screen and (min-width: 481px)
  .input-wrapper
    text-align left

@import 'utils'