/* THIS FILE IS AUTOMATICALLY IMPORTED TO Vue files */

:not(img).cover
  background-position center
  background-size cover

img.cover
  object-fit cover

.fake-cover
  position fixed
  top 0
  left 0
  width 100%
  z-index -2

.simple-parallax
  @media screen and (min-width: 769px)
    background-attachment fixed

.vertical-center
  align-items center
  display flex
  justify-content center

.circle
  border-radius 50%
  shape-outside circle(100%)

.embed-responsive
  position relative
  display block
  height 0
  padding 0
  overflow hidden

  &__item, iframe, embed, object, video
    position absolute
    top 0
    bottom 0
    left 0
    width 100%
    height 100%
    border 0

  &--16by9
    padding-bottom 56.25%

  &--4by3
    padding-bottom 75%