/* THIS FILE IS AUTOMATICALLY IMPORTED TO Vue files */

// COLORS
$primaryThemeColor = #186896
$surfaceColor = white
$defaultTextColor = #4a4a4a
$inputTextColor = #979797
$inverseTextColor = $surfaceColor
$lightShadowColor = #e5e5e5
$errorColor = #ff3636
$successColor = #149a14

// Base font-size
$minRootFontSize = 13.5
$maxRootFontSize = 15

// Big Screen starting size
$bigScreenAt = 2000px

// Font weights
$_thin = 100
$_hairline = $_thin
$_extralight = 200
$_ultralight = $_extralight
$_light = 300
$_normal = 400
$_regular = $_normal
$_medium = 500
$_semibold = 600
$_demibold = $_semibold
$_bold = 700
$_extrabold = 800
$_ultrabold = $_extrabold
$_black = 900
$_heavy = $_black