/* THIS FILE IS AUTOMATICALLY IMPORTED TO Vue files */

// COLORS
$primaryThemeColor = #186896
$defaultTextColor = #4a4a4a
$inputTextColor = #979797
$inverseTextColor = white
$lightShadowColor = #e5e5e5
$errorColor = #ff3636
$successColor = #149a14

// Base font-size
$minRootFontSize = 13.5
$maxRootFontSize = 16

// Big Screen starting size
$bigScreenAt = 2000px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black